html {
    font-face: serif;
}

.logotype {
    color: black;
    font-size: 2rem !important;
    font-weight: 800;
}

.btn {
    color: black;
    border-radius: 0.25rem;
    font-weight: 600;
    border: 0.20rem solid black;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

btn.disabled {
    border-color: #e0e0e0;
    color: #e0e0e0;
}

.logotype-font {
    font-family: 'Permanent Marker', serif;
}

.card-list .card-list-head {
    display: flex;
    justify-content: space-between;
}

.card-task .card-body {
    justify-content: space-between;
}

.card-task .card-body, .card-task .card-meta {
    display: flex;
    align-items: center;
}

.card-task .card-body {
    padding: 1.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}

.card-task .card-title {
    margin: 0;
}

.card .card-title {
    max-width: 90%;
}

.card-title {
    margin-bottom: 1.5rem;
}

.card-task .card-body, .card-task .card-meta {
    display: flex;
    align-items: center;
}

.card-task .card-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-task .card-options {
    margin-left: 1.5rem;
    position: relative;
    top: 0;
    right: 0;
}

.navbar {
    background: white;
}