<ul class="nav flex-column fs-5">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/database/$database/table">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            Tables
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/database/$database/point">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            Backups
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/database/$database/script">
            <ion-icon name="receipt-outline"></ion-icon>
            Scripts
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/database/$database/sql">
            <ion-icon name="code-slash-outline"></ion-icon>
            SQL
        </a>
    </li>
</ul>
