<div class="d-inline">
    #if($currentUser)
        <span class="text-nowrap">
            <a href="/profile">
               <ion-icon name="person-outline"></ion-icon>
                $currentUser.login
            </a>
        </span>
        <a class="btn px-3 text-nowrap" href="/logout">Logout</a>
    #else
        #if ($lang.equals("EN"))
            <a class="btn px-3 text-nowrap" href="/login/lang/ua">🇺🇦</a>
        #else
            <a class="btn px-3 text-nowrap" href="/login/lang/en">🇬🇧</a>
        #end
        <a class="btn px-3 text-nowrap" href="/login">
            Sign in
        </a>
        <a class="btn px-3 text-nowrap" href="/registration">
            Sign up
        </a>
    #end
</div>