<h3>Web user</h3>
<form action="/profile/reset-password" method="post">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="web-password">Password</label>
                <input type="text" class="form-control" id="web-password" name="web-password"
                       aria-describedby="web-password-help">
                <small id="web-password-help" class="form-text text-muted">Password for web user</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="web-password-c">Password conformation</label>
                <input type="text" class="form-control" id="web-password-c" aria-describedby="web-password-c-help">
                <small id="web-password-c-help" class="form-text text-muted">Repeat same password</small>
            </div>
        </div>
    </div>
    <div class="">
        <button class="btn" type="submit">Change password</button>
    </div>
</form>