#macro(htmlLayout)
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="$csrf">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kuzikov Borys">
    <title>Elephant</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src="/js/chart.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>
<body>


<header class="navbar  sticky-top flex-md-nowrap px-5 ">
    <a class="logotype logotype-font navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        <img src='/images/logo-bw.png' alt="logo">
        Elephant
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    #parse("/velocity/snippets/user.vm")
</header>
<div class="container-fluid">
    <div class="row">
        $bodyContent
    </div>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
#end