#parse("/velocity/db_layout.vm")
#@dbLayout()
<div class="container">

    <div class="card-list">
        <div class="card-list-head">
            <h3>Scripts</h3>
        </div>
        <div class="card-list-body card-task">

            #if ($scripts.size() > 0)
                #foreach ($script in $scripts)
                    <div class="card-body border mb-1">
                        <div class="card-title">
                            <a href="/database/$database.name/script/$script.id">
                                <h6>
                                    <ion-icon name="server-outline"></ion-icon>
                                    $script.filename
                                </h6>
                            </a>
                            <span class="text-small">$script.filename</span>
                        </div>
                        <div class="card-meta">
                            <div class="card-options">
                                <form method="post" action="/database/$database.name/script/$script.id"
                                      class="d-inline">
                                    <button class="btn" type="submit">
                                        <ion-icon name="play"></ion-icon>
                                    </button>
                                </form>
                                <form method="post" action="/database/$database.name/script/$script.id/delete"
                                      class="d-inline">
                                    <button class="btn" type="submit">
                                        <ion-icon name="trash"></ion-icon>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                #end
            #else
                <p>Currently you have no one script</p>
            #end
        </div>
    </div>
</div>

<div class="container">
    <h3>New scripts</h3>
    <form action="/database/$database.name/script/" method="post" class="shadow border" enctype="multipart/form-data">
        <input name="_csrf" value="$csrf" type="hidden"/>
        <div class="form-floating mb-3">
            <input type="file" name="file">

        </div>
        <button class="w-100 btn" type="submit">Upload new script</button>
    </form>
</div>
#end