#parse("/velocity/db_layout.vm")
#@dbLayout()
<div class="container">

    <h3>$msg.get("database.script.title")</h3>
    <div class="row">
        <table>
            <tr>
                <th>$msg.get("database.script.run.statement")</th>
                <th>$msg.get("database.script.run.reslut")</th>
            </tr>
            #foreach ($row in $executeResults)
                <tr>
                    <td>$row.key</td>
                    <td>$row.value</td>
                </tr>
            #end
        </table>
    </div>
</div>
#end