#parse("/velocity/common_layout.vm")
#@mainLayout()

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center">
            <img src="/images/hero.svg" style="height:20rem" alt="logotype"/>
            <h1 class="display-4 lh-1 mb-3 logotype-font">Elephant</h1>
            <h2 class="fs-4">DaaS<span title="Database as a Service">*</span> just for the Testing</h2>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            #parse("/velocity/snippets/_notice.vm")
            <form class="p-4 p-md-5 border shadow" action="login" method="post">
                <input name="_csrf" value="$!csrf" type="hidden"/>
                <div class="form-floating mb-3">
                    <input type="email" name="login" class="form-control" id="floatingInput"
                           placeholder="name@example.com">
                    <label for="floatingInput">$msg.get('login.form.email')</label>
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingPassword">$msg.get('login.form.password')</label>
                    <div class="input-group mb-3" id="show_hide_password">
                        <input type="password" class="form-control"
                               placeholder="Password" aria-label="Password"
                               aria-describedby="basic-addon2"
                               id="floatingPassword" name="password"
                        >
                        <span class="input-group-text" id="basic-addon2"><a href="#" id="pass-show-hide">
                            <ion-icon name="eye" id="pass-show"></ion-icon>
                            <ion-icon name="eye-off" id="pass-hide" style="display: none"></ion-icon>
                        </a>
                        </span>
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> $msg.get("login.form.remember_me")
                    </label>
                </div>
                <button class="w-100 btn" type="submit">$msg.get("login.form.button")</button>
                <hr class="my-4">
                <small class="text-muted">$msg.get("login.form.disclamer")</small>
                <p><a href="/login/reset-password">$msg.get("login.form.forgot")</a></p>
            </form>
        </div>
    </div>
</div>

    #parse("/velocity/snippets/features.vm")
<script>
    jQuery(document).ready(function () {
        jQuery("#pass-show-hide").on('click', function (event) {
            event.preventDefault();
            if (jQuery('#show_hide_password input').attr("type") == "text") {
                jQuery('#show_hide_password input').attr('type', 'password');
                jQuery('#pass-show').hide();
                jQuery('#pass-hide').show();
            } else if (jQuery('#show_hide_password input').attr("type") == "password") {
                jQuery('#show_hide_password input').attr('type', 'text');
                jQuery('#pass-show').hide();
                jQuery('#pass-hide').show();
            }
        });
    });
</script>
#end