#parse("/velocity/db_layout.vm")
#@dbLayout()
<div class="container">
    <div class="card-list">
        <div class="card-list-head">
            <h3>$msg.get("database.backup.title")</h3>
        </div>
        <div class="card-list-body card-task">

            #if ($points.size() > 0)
                #foreach ($point in $points)
                    <div class="card-body border mb-1">
                        <div class="card-title">
                            <h6>
                                <ion-icon name="server-outline"></ion-icon>
                                $point.point
                            </h6>
                            <span class="text-small">$point.point</span>
                        </div>
                        <div class="card-meta">
                            <div class="card-options">
                                <form action="/database/$database.name/point/$point.point/create" method="post"
                                      class="d-inline">
                                    <input type="submit" value="$msg.get("controls.button.update")">
                                </form>
                                <form action="/database/$database.name/point/$point.point/reset" method="post"
                                      class="d-inline">
                                    <input type="submit" value="$msg.get("controls.button.reset")">
                                </form>
                                <form action="/database/$database.name/point/$point.point/delete" method="post"
                                      class="d-inline">
                                    <input type="submit" value="$msg.get("controls.button.delete")">
                                </form>
                            </div>
                        </div>
                    </div>
                #end
            #else
                <p>$msg.get("database.backup.empty")</p>
            #end
        </div>
    </div>
</div>

<div class="container">
    <h3>$msg.get("database.backup.form.title")</h3>
    #if($currentUser.role().maxBackupsPerDB() >= $points.size())
        <form action="/database/$database.name/point/" method="post" class="shadow border">
            <input name="_csrf" value="$csrf" type="hidden"/>
            <div class="form-floating mb-3">
                <input type="text" name="point" class="form-control" id="floatingInput" placeholder="point">
                <label for="floatingInput">$msg.get("database.backup.form.name")</label>
            </div>
            <button class="w-100 btn" type="submit">$msg.get("database.backup.form.create_button")</button>
        </form>
    #else
        $msg.get("database.script.form.limit")
        <button class="w-100 btn disabled" type="submit">$msg.get("database.backup.form.create_button")</button>
    #end
</div>


#end