<div class="jumbotron jumbotron-fluid ">
    <div class="container shadow border p-5">
        <h1 class="display-4">Hi, newcomer!</h1>
        <p class="lead">Check your mail and push mail-verification link - to be able create new database.</p>
        <a class="btn btn-primary btn-lg" href="/registration/resend-confirm" role="button">Resend mail</a>
    </div>
</div>