#parse("/velocity/db_layout.vm")
#@dbLayout()
<div class="container">
    $databaseSize
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <a class="nav-link active" aria-current="page" href="/database/$database.name/table">
                    <ion-icon name="file-tray-stacked-outline"></ion-icon>
                    <div class="card-body">
                        <h5 class="card-title">Tables</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="nav-link active" aria-current="page" href="/database/$database.name/point">
                    <ion-icon name="file-tray-stacked-outline"></ion-icon>
                    <div class="card-body">
                        <h5 class="card-title">Backups</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="nav-link active" aria-current="page" href="/database/$database.name/script">
                    <ion-icon name="receipt-outline"></ion-icon>
                    <div class="card-body">
                        <h5 class="card-title">Scripts</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="nav-link active" aria-current="page" href="/database/$database.name/sql">
                    <ion-icon name="code-slash-outline"></ion-icon>
                    <div class="card-body">
                        <h5 class="card-title">Tables</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
#end